body {
    background-color: #ffffff;
    color: #121212;
    transition: all 0.3s ease-in-out;
    font-family: 'inter', sans-serif;

}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #eee;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 50px;
}

.navbar a {
    text-decoration: none;
    color: black;

}

#hero {
    padding: 50px;
    /* outline: 1px solid; */
}

#hero h1 {
    font-size: 60px;
}

#hero p {
    font-size: 29px;
}

#hero a {
    /* margin: 0px 0px 0px 0px; */
    border: solid 1px #000;
    padding: 8px 25px 8px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    color: #000;
}

#edu {
    margin: 20px 30px 20px 30px;
    padding: 0px 0px 20px 20px;
    /* padding: up right down left; */
}

#edu h3 {
    font-size: 30px;
}

#tabs {
    gap: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.backpoint {
    width: 60px;
    height: 60px;
    display: flex;
    border-radius: 30px;
    background-color: #a6a9ac72;
    align-items: center;
    justify-content: center;
}

.backpoint i{
    font-size: 25px;
    color: #000;
}

.tab {
    width: 250px;
    height: 300px;
    border: 1px solid #000;
    align-content: center;
    justify-items: center;
    border-radius: 8px;
}

.tab h4{
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px 10px 0px;
}
.tab h5{
    font-size: 18px;
    font-weight: 500;
    margin: 0px 0px 0px 0px;

}
.tab p{
    font-size: 15px;
    font-weight: 100;
}

#tabs a {
    text-decoration: none;
    color: #000;
    border: 1px solid black;
    display: inline-flex;
    height: 20px;
    padding: 8px 35px 8px 35px;
    justify-content: center;
    position: absolute;
    bottom: -300px;
    right: 100px;
    background-color: #ffffff;
}